/* login.scss */
.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 10.21%;
    margin-bottom: 6.66%;

    .auth-image {
        width: 34.5%;
        height: 602px;
        position: relative;
        left: 0.5px;
        border-top-left-radius: 2%;
        border-bottom-left-radius: 2%;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px, rgba(0, 0, 0, 0.1) 0px 0px 4px;
    }

    .image-button {
        position: absolute;
        top: 90%;
        left: 24%;
        transform: translate(-50%, -50%);
        background-color: #075959;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .login-tittle {
        color: rgb(16, 16, 16);
        text-align: center;
        font-family: sonny-cond, "Arial Black", sans-serif;
        font-weight: 600;
    }

    .login-form-container {
        width: 34.5%;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px, rgba(0, 0, 0, 0.1) 0px 0px 4px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        padding: 3.5%;
        border-top-right-radius: 2%;
        border-bottom-right-radius: 2%;

        .login-form {
            width: 104%;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 40px;

            .email-input-group {
                width: 94.4%;
                height: 6%;
                position: relative;
                border-bottom: 2px solid;
                margin: auto;

                .email-input {
                    width: 92.7%;
                    height: 96.9%;
                    position: relative;
                    left: 7.2%;
                    font-size: 131%;
                    color: rgb(0, 0, 0);
                    outline: none;
                    border: none;
                }

                .input-icons {
                    width: 5.8%;
                    height: 93.5%;
                    position: absolute;

                    .icon-user {
                        height: 101.9%;
                        color: rgb(0, 0, 0);
                    }
                }
            }

            .password-input-group {
                width: 94.4%;
                height: 6%;
                position: relative;
                border-bottom: 2px solid;
                margin: auto;

                .password-input {
                    width: 92.7%;
                    height: 96.9%;
                    position: relative;
                    left: 7.2%;
                    font-size: 131%;
                    color: rgb(0, 0, 0);
                    outline: none;
                    border: none;
                }

                .eye-icon-container {
                    position: relative;
                    cursor: pointer;
                    justify-self: end;
                    left: 0%;
                    top: -84.9%;
                    width: 9%;
                    background-color: white;


                    .eye-icon {
                        justify-self: center;
                        display: flex;
                    }
                }

                .input-icons {
                    width: 5.8%;
                    height: 93.5%;
                    position: absolute;

                    .icon-password {
                        height: 101.9%;
                        color: rgb(0, 0, 0);
                    }
                }
            }

            .form-ask {
                width: 100%;
                position: relative;
                margin: auto;
                display: flex;

                .checkbox {
                    position: relative;
                    top: 5px;
                }

                .flex-gap {
                    display: flex;
                    position: relative;
                    justify-content: space-between;
                    width: 91%
                }

                .remember-me,
                .forgot-password {
                    color: rgb(0, 119, 133);
                }

                .separator-line {}
            }


            .account-link {
                font-family: "Poppins";
                font-weight: 500;
                text-align: center;
                gap: 2%;
                display: flex;
                justify-content: center;

                span {
                    font-size: 99.5%;
                }

                .sign-up-link {
                    color: rgb(0, 119, 133);
                    cursor: pointer;
                }
            }

            .login-button {
                width: 100.57%;
                height: 10.5%;
                border-radius: 5px;
                border: 1px solid;
                color: white;
                background-color: rgb(0, 119, 133);
                font-size: 104.9%;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
            }

            .social-login {

                justify-content: center;
                display: flex;

                .social-login-text {
                    width: 100px;
                    text-align: center;
                    color: #000;
                    font-size: 15px;
                    font-family: 'Poppins';
                    font-weight: 500;
                }

                .separator {
                    height: 0;
                }
            }

            .google-login-button {
                width: 100.57%;
                height: 10.5%;
                border-radius: 5px;
                justify-content: center;
                display: flex;
                border: solid 1px;
                margin: auto;

                .google-login-background {
                    width: 437px;
                    height: 35px;
                    border-radius: 5px;
                    border: 1px solid;
                }

                .google-login-icons {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}